[Unit]
Description=Kibana Log Notifier
After=multi-user.target

[Service]
EnvironmentFile=/opt/kibana-log-notifier/.env
Type=idle
Restart=always
RestartSec=30
StartLimitInterval=200
StartLimitBurst=5

WorkingDirectory=/opt/kibana-log-notifier
ExecStart=/opt/kibana-log-notifier/kibana-log-notifier.py

[Install]
WantedBy=multi-user.target
