[Unit]
Description=Incident Notifier
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=30
StartLimitInterval=200
StartLimitBurst=5

WorkingDirectory=$WORK_DIR
EnvironmentFile=$ENV_FILE
ExecStart=/bin/bash -c '$PRODUCER_COMMAND | ./bin/notifier'

[Install]
WantedBy=multi-user.target
