[Unit]
Description=Kibana Log Notifier
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=30
StartLimitInterval=200
StartLimitBurst=5

WorkingDirectory=$WORK_DIR
EnvironmentFile=$ENV_FILE
ExecStart=/bin/bash -c '/bin/tail -f -n10 ./doc/kibana_log.json | ./bin/notifier'

[Install]
WantedBy=multi-user.target
